// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import '~bulma/bulma';



/* --------------------------------
	reset
-------------------------------- */
body,
h1, h2, h3, h4, h5, h6,
p, address, blockquote, pre, div,
dl, dt, dd, ol, ul, li,
th, td,
form, fieldset, input, textarea { margin:0 0 0 0; padding:0 0 0 0; }

select { margin:0 0 0 0; }


/* --------------------------------
	初期設定
-------------------------------- */
body { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif; font-size: 13px; line-height: 1.6; }


/* --------------------------------
	共通レイアウト
-------------------------------- */
body { min-width: 1000px; margin: auto; position: relative; zoom: 1; }

#body { width: 980px; margin: 0 auto; }

/*レイアウト*/
#contentWrapper { display: flex; width: 100%; }
#sidebar { width: 250px;
  .sidebarWarapper { padding-right: 20px; }
}
#main { width: 730px; border-left: 1px solid #f2f2f2;
  .mainWarapper { padding-left: 30px; }
}

/*セクションタイトル*/
h2 { font-size: 20px;
  &.headerTitle { padding-bottom: 5px; margin-bottom: 10px; font-size: 18px; font-weight: bold; }
  &.headerSeparator { border-bottom: 1px solid #FF6633; }
}

/*広告ボックス*/
.adsense { width: 100%; height:100%; object-fit: cover; }



/* コンテンツ共通レイアウト */
.popularItem, .newItem, .userContents { position: relative; display: inline-block; width: 230px;
  & a { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
  & p { position: absolute; bottom: 0; left: 0; right: 0; padding: 5px; color: white; background: rgba(0, 0, 0, 0.5); }
  & img { width: 100%; height: 100%; object-fit: cover; }
}

/* ファイルform */
#fileUp { display: none; }
//オリジナルのメディアアップロードコンポーネント
label .originalFileUp { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; justify-content: center; background: rgba(242,242,242,0.5); border: 2px dashed #CCCCCC; cursor: pointer; }



/* --------------------------------
	TOP
-------------------------------- */
/*人気グルメ*/
.popularItem { height: 150px; }
.newItem { height: 230px; }



/* --------------------------------
	レポーターページ
-------------------------------- */
.userImg { position:relative; overflow:hidden; padding-bottom:100%; border: 1px #adb5bd solid; border-radius: 50%;
  & img { position:absolute; width: 100%; height: 100%; object-fit: cover; }
}

.userContents { height: 230px; }



/* ------------------------------
   レポーター作成・編集
------------------------------ */
#reporterCreate, #gourmetCreate { margin: 30px 0; border: 1px solid #f2f2f2; border-radius: 5px; }
.reporterCreateWrapper, .gourmetCreateWrapper { padding: 30px; border-left: 1px solid #f2f2f2; }
.snsform { margin: 10px 0; }




