// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import '~bulma/bulma';



/* --------------------------------
	reset
-------------------------------- */
body,
h1, h2, h3, h4, h5, h6,
p, address, blockquote, pre, div,
dl, dt, dd, ol, ul, li,
th, td,
form, fieldset, input, textarea { margin:0 0 0 0; padding:0 0 0 0; }

select { margin:0 0 0 0; }


/* --------------------------------
	初期設定
-------------------------------- */
body { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif; font-size: 13px; line-height: 1.6; }


/* --------------------------------
	共通レイアウト
-------------------------------- */
body { min-width: 1000px; margin: auto; position: relative; zoom: 1; }

#body { width: 980px; margin: 0 auto; }

// レイアウト
#contentWrapper { display: flex; width: 100%; }
#sidebar { width: 250px; }
#main { width: 730px; }

